<h1> All rents</h1>
<%= button_to "Add a new property for rent", new_rent_path %>

<% @rents.each do |rent| %>
    <!-- Image tag here -->
    
    <ul>
        <li>Address:<%= link_to rent.address, rent %></li>
        <li>Price: $<%=  rent.price %></li>

    </ul>

<% end %>

<%= button_to "Add a new property for rent", new_rent_path %>