<h2>Search results between $<%= params[:min] %> and $<%= params[:max]%> </h2>


<ol>
    <% @rents.each do |rent| %>
        <%= cl_image_tag(rent.image, :class => 'index_image') %>
        <li><%= link_to rent.address, rent %></li>   
    <% end%>
</ol>
