.show_image {
    max-height: 12em;
}

.index_image_card {  
    max-width: 30%;   
    border: 1px solid rgb(221, 219, 219); 
    box-shadow: 0px 0px 4px rgba(215, 215, 215, 0.714) ;
    margin: 8px;
}

.index_image {
    max-width: 10em;
}

.slidebar {
    max-width: 30em;
}

.search {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.clickHere {
    padding-top: 1.5em;
}





