<h2>Search results between $<%= params[:min] %> and $<%= params[:max]%> </h2>


<ol>
    <% @sells.each do |sell| %>
        <%= cl_image_tag(sell.image, :class => 'index_image') %>
        <li><%= link_to sell.address, sell %></li>   
    <% end%>
</ol>
